/* Blog area */

.blog-area {
    overflow: hidden;
}

.single-blog {
    background: $white;
    border-radius: 20px;
    overflow: hidden;
    margin: 15px;
    -webkit-box-shadow: 0 0 20px rgba($black, .05);
    box-shadow: 0 0 20px rgba($black, .05);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    &.style-02 {
        .common-title {
            &:hover {
                color: var(--main-color-two);
            }
        }
    }
    &.style-03 {
        margin: 0;
        background: -o-linear-gradient(315deg, #FBFDFE 0%, #EAF5FC 100%);
        background: linear-gradient(135deg, #FBFDFE 0%, #EAF5FC 100%);
        &:hover {
            background: -o-linear-gradient(45deg, #FBFDFE 0%, #EAF5FC 100%);
            background: linear-gradient(45deg, #FBFDFE 0%, #EAF5FC 100%);
        }
        .common-title {
            &:hover {
                color: var(--main-color-three);
            }
        }
        .blog-contents {
            @include responsive(xl) {
                padding: 30px 15px;
            }
            .tags {
                li {
                    a {
                        &:hover {
                            color: var(--main-color-three);
                            i {
                                color: var(--main-color-three);
                            }
                        }
                    }
                }
            }
        }
    }
    &.no-margin {
        margin: 0;
    }
    &:hover {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
        background: none;
        .blog-thumb {
            img {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
    .blog-thumb {
        overflow: hidden;
        display: block;
        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -webkit-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }
    }
    .blog-contents {
        padding: 30px;
        @include responsive(vxxs) {
            padding: 30px 15px;
        }
        .tags {
            padding: 0;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            margin-bottom: 15px;
            li {
                &:not(:last-child) {
                    margin-right: 30px;
                }
                a {
                    color: var(--light-color);
                    font-size: 12px;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    &:hover {
                        color: var(--main-color-one);
                        i {
                            color: var(--main-color-one);
                        }
                    }
                    i {
                        color: var(--main-color-three);
                        -webkit-transition: all .3s;
                        -o-transition: all .3s;
                        transition: all .3s;
                    }
                }
            }
        }
        .common-title {}
        .common-para {
            margin-top: 15px;
        }
    }
}

.blog-pagination.margin-top-55 {
    @include responsive(allPhone) {
        margin-top: 30px;
    }
}