/* Pagination */

.service-pagination {
    margin-top: 50px;
    @include responsive(xxs) {
        margin-top: 30px;
    }
}

.pagination-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &.style-02 {
        &::before,
        &::after {
            background: var(--main-color-one);
        }
        li {
            &.active {
                a {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
            a {
                &:hover {
                    background: var(--main-color-one);
                    color: $white;
                }
            }
        }
    }
    &::before {
        content: "Prev";
    }
    &::after {
        content: "Next";
    }
    &::before,
    &::after {
        cursor: pointer;
        background: var(--main-color-three);
        color: $white;
        font-size: 16px;
        -webkit-box-shadow: 0 0 10px rgba($black, .05);
        box-shadow: 0 0 10px rgba($black, .05);
        padding: 10px 20px;
        display: inline-block;
        border-radius: 5px;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        @include responsive(allPhone) {
            font-size: 15px;
            padding: 7px 15px;
        }
        @include responsive(xxs) {
            font-size: 14px;
            padding: 5px 10px;
        }
    }
    li {
        margin: 5px 10px;
        @include responsive(allPhone) {
            margin: 5px 5px;
        }
        &.active {
            a {
                background: var(--main-color-three);
                color: $white;
            }
        }
        a {
            background: $white;
            color: var(--light-color);
            font-size: 16px;
            -webkit-box-shadow: 0 0 10px rgba($black, .05);
            box-shadow: 0 0 10px rgba($black, .05);
            padding: 10px 20px;
            display: inline-block;
            border-radius: 5px;
            -webkit-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
            &:hover {
                background: var(--main-color-three);
                color: $white;
            }
            @include responsive(allPhone) {
                font-size: 15px;
                padding: 7px 15px;
            }
            @include responsive(xxs) {
                font-size: 14px;
                padding: 5px 10px;
            }
        }
    }
}